modules = ["nodejs-20", "web"]
run = "npm install"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm install"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
author = 35316949
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd MusicChainStream && npm install && npm run dev"

[[ports]]
localPort = 5000
externalPort = 80
